:root {
	--bodyBackColor:#F4F4FF ;
	--mainPanelBorder: #8b3dff ;

	--dbgCellBodyClick: #ffffff ;
	--dbgCellBodyClickBack: #5640ff ;
	--dbgCellHead1 : rgba(172,99,255,1) ;
	--dbgCellHead2 : rgba(63,24,189,1) ;
	--dbgHeadFontcolor: #ddd ;

	/* Input */
	--inpBorderColor :#8b3dff;
	--inputBack : #ffffff ;

	/* Input onFocus */
	--inpFocusBorder: #000000 ;
	--inpFocusBack : #e3d1ff ;

	/* Inpus Disable */
	--inpDisabledBack: #eeeeee ;
	--inpDisabledBorder: #bbbbbb ;

	/* Button Class */
	--ButtonBorder: #666 ;
	--ButtonColor1: #c1a8f0;
	--ButtonColor2: #753cde;
	--ButtonHoverBorder: #333 ;
	--ButtonHoverColor1: #c1a8f0;
	--ButtonHoverColor2: #753cde;
	--ButtonClickBorder: #666 ;
	--ButtonClickColor1: #753cde;
	--ButtonClickColor2: #c1a8f0;
	--ButtonFontColor: #f0f0f0 ;
	
	/* Tab Class Name */
	--tabMainBack : #eeeeee ;
	--tabNormal1 : #ffffff ;
	--tabNormal2 : #eeeeff ;
	--tabClick1 : #dfb3ff ;
	--tabClick2 : #8600e6 ;
	--tabClickFont : #ffffff ;
	--tabFont : #000000 ;
	--tabItemBorder: 1px solid #cccccc ;

	/* Variable Menu Pulldown */
	--hzMainBack : rgba(182,153,235,1) ;
	--hzOverBack : #5503ed; ;
	--hzOverFont : #FFFFFF ;
	--vrMainBack : #f6f6f6 ;
	--vrMainBorder : #bbbbbb ;
	--vrItemFirst1 : #d7cbfd ;
	--vrItemFirst2 : #b29bfd ;
	--vrItemOverBack : #e3d1ff ;
	--vrItemOverBorder : 1px solid #c099ff ;
	--vrItemSep : 1px solid #b29bfd ;

	/* Variable Form */
	--winBorderBorder : #bbbbbb ;
	--winBorderBack : #FFFFFF ;
	--winHeadFocus1 : rgba(168,113,250,1) ;
	--winHeadFocus2 : rgba(139,61,255,1) ;
	--winHeadBlur1 : rgba(226,226,226,1) ;
	--winHeadBlur2 : rgba(219,219,219,1) ;
	--winHead : #ffffff ;

	/* Form Icon Close */
	--winClose : #ffffff ;
	--winCloseHover : #ffffff ;
	--winCloseHover1 : #e0a28d ;
	--winCloseHover2 : #e04e1c ;

	/* Form Icon Min */
	--winMin : #ffffff ;
	--winMinHover : #ffffff ;
	--winMinHover1 : #eeeeee ;
	--winMinHover2 : #999999 ;

	/* Form Icon Panduan */
	--winPan : #ffffff ;
	--winPanHover : #ffffff ;
	--winPanHover1 : #8fc7ed ;
	--winPanHover2 : #2c98ce ;

	/* Alert dan Confirm */
	--alrMain : #eeeeee ;
	--alrMainBorder : #999999 ;
	--alrHead1 : rgba(168,113,250,1) ;
	--alrHead2 : rgba(139,61,255,1) ;
	--alrHead : #FFFFFF ;

	/*
	Status Bar
	*/
	--sBarBack1: #E4E4EE ;
	--sBarBack2: #F4F4FF ;
	--sBarBorder: #dddddd ;
	
	/* Slide Bar */
	--sldColor: #000;
	--sldBack1: rgba(219,223,255,1) ;
	--sldBack2: rgba(15,22,82,1);
	--sldBorder: #ffe6e6 ;
	
	--sldItemColor: #fff ;
	--sldItemBorder: #80bdff ;
	--sldItemBack1: #80bdff ;
	--sldItemBack2: #80bdff ;
		
	--sldItemOverColor: #000 ;
	--sldItemOverBack1: #f9ecc9 ;
	--sldItemOverBack2: #f9d87e ;
	
	--sldItemBlurColor: #888 ;
	--sldItemBlurBack1: #f4f4f4 ;
	--sldItemBlurBack2: #f4f4f4 ;
	
	/* Toolbar */
	--tBarMain1: rgba(177,135,255,1) ;
	--tBarMain2: rgba(93,36,199,1) ;
	--tBarSep1: #999;
	--tBarSep2: #fff;
	--tBarOverBack : #f9cc81 ;
	--tBarOverBorder : #080f86 ;
}