:root {
	--bodyBackColor:#F4F4FF ;
	--mainPanelBorder: #bbbbbb ;

	--dbgCellBodyClick: #ffffff ;
	--dbgCellBodyClickBack: #3168d5 ;
	--dbgCellHead1 : #d9e4f7 ;
	--dbgCellHead2 : #b6cdf7 ;

	/* Input */
	--inpBorderColor :#7F9DB9;
	--inputBack : #ffffff ;

	/* Input onFocus */
	--inpFocusBorder: #000000 ;
	--inpFocusBack : #ffffff ;

	/* Inpus Disable */
	--inpDisabledBack: #eeeeee ;
	--inpDisabledBorder: #bbbbbb ;

	/* Button Class */
	--ButtonBorder: #437ee0 ;
	--ButtonColor1: #d2e3ff;
	--ButtonColor2: #4d90fe;
	--ButtonHoverBorder: #437ee0 ;
	--ButtonHoverColor1: #d2e3ff;
	--ButtonHoverColor2: #4d90fe;
	--ButtonClickBorder: #437ee0 ;
	--ButtonClickColor1: #4d90fe;
	--ButtonClickColor2: #d2e3ff;
	--ButtonFontColor: #333 ;
	
	/* Tab Class Name */
	--tabMainBack : #eeeeee ;
	--tabNormal1 : #ffffff ;
	--tabNormal2 : #eeeeff ;
	--tabClick1 : #3387c7 ;
	--tabClick2 : #0e446e ;
	--tabClickFont : #ffffff ;
	--tabFont : #000000 ;
	--tabItemBorder: 1px solid #cccccc ;

	/* Variable Menu Pulldown */
	--hzMainBack : #b9cff7 ;
	--hzOverBack : #dbe7f7; ;
	--hzOverFont : #000000 ;
	--vrMainBack : #f6f6f6 ;
	--vrMainBorder : #bbbbbb ;
	--vrItemFirst1 : #eeeeee ;
	--vrItemFirst2 : #d0e1f7 ;
	--vrItemOverBack : #dbe7f7 ;
	--vrItemOverBorder : 1px solid #b7d3f7 ;
	--vrItemSep : 1px solid #999999 ;

	/* Variable Form */
	--winBorderBorder : #bbbbbb ;
	--winBorderBack : #F4F4FF ;
	--winHeadFocus1 : #d5e8fa ;
	--winHeadFocus2 : #9dccfa  ;
	--winHeadBlur1 : #dcdde0 ;
	--winHeadBlur2 : #bdc0c6 ;
	--winHead : #ffffff ;

	/* Form Icon Close */
	--winClose : #ffffff ;
	--winCloseHover : #ffffff ;
	--winCloseHover1 : #e0a28d ;
	--winCloseHover2 : #e04e1c ;

	/* Form Icon Min */
	--winMin : #ffffff ;
	--winMinHover : #ffffff ;
	--winMinHover1 : #eeeeee ;
	--winMinHover2 : #999999 ;

	/* Form Icon Panduan */
	--winPan : #ffffff ;
	--winPanHover : #ffffff ;
	--winPanHover1 : #8fc7ed ;
	--winPanHover2 : #2c98ce ;

	/* Alert dan Confirm */
	--alrMain : #eeeeee ;
	--alrMainBorder : #999999 ;
	--alrHead1 : #eeeeee ;
	--alrHead2 : #cccccc ;
	--alrHead : #000000 ;
	
	/*
	Status Bar
	*/
	--sBarBack1: #E4E4EE ;
	--sBarBack2: #F4F4FF ;
	--sBarBorder: #dddddd ;
	
	/* Slide Bar */
	--sldColor: #000;
	--sldBack1: #adc8f9 ;
	--sldBack2: #adc8f9 ;
	--sldBorder: #6085c8 ;
	
	--sldItemColor: #000 ;
	--sldItemBorder: #3b619c ;
	--sldItemBack1: #cedff8 ;
	--sldItemBack2: #8eb2e6 ;
		
	--sldItemOverColor: #000 ;
	--sldItemOverBack1: #f9ecc9 ;
	--sldItemOverBack2: #f9d87e ;
	
	--sldItemBlurColor: #000 ;
	--sldItemBlurBack1: #dcdde0 ;
	--sldItemBlurBack2: #bdc0c6 ;
	
	/* Toolbar */
	--tBarMain1: #d9e4f7 ;
	--tBarMain2: #b6cdf7 ;
	--tBarSep1: #999;
	--tBarSep2: #fff;
	--tBarOverBack : #f9cc81 ;
	--tBarOverBorder : #080f86 ;
}