:root {
	/* Font Color Kita Definisikan Khusus yang black maka font color ganti putih */
	--fontColor : #ddd ;

	--bodyBackColor:#232323 ;
	--mainPanelBorder: #333333 ;

	--dbgCellBodyClick: #000000 ;
	--dbgCellBodyClickBack: #c7c3c7 ;
	--dbgCellHead1 : #1B202C ;
	--dbgCellHead2 : #111111 ;
	--dbgHeadFontcolor: #ddd ;

	/* Input */
	--inpBorderColor : #555555 ;
	--inputBack : #333333 ;

	/* Input onFocus */
	--inpFocusBorder: #7F9DB9 ;
	--inpFocusBack : #333333 ;

	/* Inpus Disable */
	--inpDisabledBack: #222222 ;
	--inpDisabledBorder: #353535 ;

	/* Button Class */
	--ButtonBorder: #333 ;
	--ButtonColor1: #555;
	--ButtonColor2: #333;
	--ButtonHoverBorder: #666 ;
	--ButtonHoverColor1: #555;
	--ButtonHoverColor2: #333;
	--ButtonClickBorder: #333 ;
	--ButtonClickColor1: #333;
	--ButtonClickColor2: #555;
	--ButtonFontColor: #f0f0f0 ;
	
	/* Tab Class Name */
	--tabMainBack : transparent ;
	--tabNormal1 : #252525 ;
	--tabNormal2 : #252525 ;
	--tabClick1 : #1B202C ;
	--tabClick2 : #111111 ;
	--tabClickFont : #F5F5F5 ;
	--tabFont : #F5F5F5 ;
	--tabItemBorder: 1px solid #333333 ;

	/* Variable Menu Pulldown */
	--hzMainBack : #1B202C ;
	--hzOverBack : #444444; ;
	--hzOverFont : #FFFFFF ;
	--vrMainBack : #1B202C ;
	--vrMainBorder : #252525 ;
	--vrItemFirst1 : #1B202C ;
	--vrItemFirst2 : #111111 ;
	--vrItemOverBack : #444444 ;
	--vrItemOverBorder : 1px solid #555555 ;
	--vrItemSep : 1px solid #444444 ;

	/* Variable Form */
	--winBorderBorder : #111111 ;
	--winBorderBack : #111111 ;
	--winHeadFocus1 : #181818 ;
	--winHeadFocus2 : #151515  ;
	--winHeadBlur1 : #86898a ;
	--winHeadBlur2 : #86898a ;
	--winHead : #ffffff ;

	/* Form Icon Close */
	--winClose : #ffffff ;
	--winCloseHover : #ffffff ;
	--winCloseHover1 : #e0a28d ;
	--winCloseHover2 : #e04e1c ;

	/* Form Icon Min */
	--winMin : #ffffff ;
	--winMinHover : #ffffff ;
	--winMinHover1 : #eeeeee ;
	--winMinHover2 : #999999 ;

	/* Form Icon Panduan */
	--winPan : #ffffff ;
	--winPanHover : #ffffff ;
	--winPanHover1 : #8fc7ed ;
	--winPanHover2 : #2c98ce ;

	/* Alert dan Confirm */
	--alrMain : #444 ;
	--alrMainBorder : #333 ;
	--alrHead1 : #2A363B ;
	--alrHead2 : #222222 ;
	--alrHead : #000000 ;

	/*
	Status Bar
	*/
	--sBarBack1: #222222 ;
	--sBarBack2: #333333 ;
	--sBarBorder: #333333 ;
	
	/* Scroll Bar */
	--ScrollBar: #555 ;
	--ScrollBarBack: #333 ;
	
	/* Slide Bar */
	--sldColor: #ddd;
	--sldBack1: #666 ;
	--sldBack2: #444;
	--sldBorder: #555 ;

	--sldItemColor: #ddd ;
	--sldItemBorder: #555 ;
	--sldItemBack1: #444 ;
	--sldItemBack2: #666 ;
		
	--sldItemOverColor: #000 ;
	--sldItemOverBack1: #f9ecc9 ;
	--sldItemOverBack2: #f9d87e ;
	
	--sldItemBlurColor: #ddd ;
	--sldItemBlurBack1: #999 ;
	--sldItemBlurBack2: #999 ;
	
	/* Toolbar */
	--tBarMain1: #1B202C ;
	--tBarMain2: #111 ;
	--tBarSep1: #222;
	--tBarSep2: #666;
	--tBarOverBack : #444 ;
	--tBarOverBorder : #555 ;
}