:root {
	--bodyBackColor:#F4F4FF ;
	--mainPanelBorder: #bbbbbb ;

	--dbgCellBodyClick: #ffffff ;
	--dbgCellBodyClickBack: #b6d3f7 ;
	--dbgCellHead1 : #e5f0fd ;
	--dbgCellHead2 : #d4e3f6 ;

	/* 
	Input
	*/
	--inpBorderColor :#7F9DB9;
	--inputBack : #ffffff ;

	/* 
	Input onFocus
	*/
	--inpFocusBorder: #000000 ;
	--inpFocusBack : #ffffff ;

	/* 
	Inpus Disable
	*/
	--inpDisabledBack: #eeeeee ;
	--inpDisabledBorder: #bbbbbb ;

	/* Button Class */
	--ButtonBorder: #666666 ;
	--ButtonColor1: #f1f1f1;
	--ButtonColor2: #d4d4d4;
	--ButtonHoverBorder: #666666 ;
	--ButtonHoverColor1: #f1f1f1;
	--ButtonHoverColor2: #d4d4d4;
	--ButtonClickBorder: #666666 ;
	--ButtonClickColor1: #d4d4d4;
	--ButtonClickColor2: #f1f1f1;
	--ButtonFontColor: #000000 ;
	
	/* 
	Tab Class Name
	*/
	--tabMainBack : #eeeeee ;
	--tabNormal1 : #FFFFFF ;
	--tabNormal2 : #F4F4FF ;
	--tabClick1 : #F4F4FF ; 
	--tabClick2 : #d1e1f8 ;
	--tabClickFont : #000000 ;
	--tabFont : #000000 ;
	--tabItemBorder: 1px solid #cccccc ;

	/* 
	Variable Menu Pulldown
	*/
	--hzMainBack : #edf4fc ;
	--hzOverBack : #3399ff ;
	--hzOverFont : #FFFFFF ;
	--vrMainBack : #f6f6f6 ;
	--vrMainBorder : #bbbbbb ;
	--vrItemFirst1 : #eeeeee ;
	--vrItemFirst2 : #d0e1f7 ;
	--vrItemOverBack : #eff2f6 ;
	--vrItemOverBorder : 1px solid #aecff7 ;
	--vrItemSep : 1px solid #999999 ;

	/* 
	Variable Form
	*/
	--winBorderBorder : #bbbbbb ;
	--winBorderBack : #F4F4FF ;
	--winHeadFocus1 : #d1e1f8 ;
	--winHeadFocus2 : #e1effc ;
	--winHeadBlur1 : #d3d4d6 ;
	--winHeadBlur2 : #dcdde0 ;
	--winHead : #555555 ;
	
	/*
	Form Icon Close
	*/
	--winClose : #555555 ;
	--winCloseHover : #ffffff ;
	--winCloseHover1 : #e0a28d ;
	--winCloseHover2 : #e04e1c ;
	
	/* 
	Form Icon Min
	*/
	--winMin : #555555 ;
	--winMinHover : #ffffff ;
	--winMinHover1 : #eeeeee ;
	--winMinHover2 : #999999 ;
	
	/* 
	Form Icon Panduan
	*/
	--winPan : #555555 ;
	--winPanHover : #ffffff ;
	--winPanHover1 : #8fc7ed ;
	--winPanHover2 : #2c98ce ;
	
	/* 
	Alert dan Confirm
	*/
	--alrMain : #eeeeee ;
	--alrMainBorder : #999999 ;
	--alrHead1 : #eeeeee ;
	--alrHead2 : #cccccc ;
	--alrHead : #000000 ;

	/*
	Status Bar
	*/
	--sBarBack1: #E4E4EE ;
	--sBarBack2: #F4F4FF ;
	--sBarBorder: #dddddd ;
	
	/* Slide Bar */
	--sldColor: #000;
	--sldBack1: #deebfa ;
	--sldBack2: #deebfa ;
	--sldBorder: #a6cdfa ;

	--sldItemColor: #000 ;
	--sldItemBorder: #3b619c ;
	--sldItemBack1: #d4e3f6 ;
	--sldItemBack2: #e5f0fd ;
		
	--sldItemOverColor: #000 ;
	--sldItemOverBack1: #f9ecc9 ;
	--sldItemOverBack2: #f9d87e ;
	
	--sldItemBlurColor: #888 ;
	--sldItemBlurBack1: #f4f4f4 ;
	--sldItemBlurBack2: #f4f4f4 ;	
	
		/* Toolbar */
	--tBarMain1: #e5f0fd ;
	--tBarMain2: #d4e3f6 ;
	--tBarSep1: #999;
	--tBarSep2: #fff;
	--tBarOverBack : #f9cc81 ;
	--tBarOverBorder : #080f86 ;
}