/* Menu Click Kanan di Grid */
.dbg_mnu_context {
	position:absolute;
	border:1px solid #dddddd;
	background:#eeeeee ;
}
.dbg_mnu_context_item {
	FONT-FAMILY: Verdana,Helvetica; 
	FONT-SIZE: 12px;
	padding:4px 10px 4px 10px;
	white-space: nowrap;
	cursor:default ;
}
.dbg_mnu_context_item:hover {
	background:#dbe7f7;
	border:1px solid #b7d3f7;
	padding:3px 9px 3px 9px;
	cursor:default ;
}

/* Untuk Browse Baik Grid Atau Date Pick */
.browse_main {
	position:absolute;
	display:block;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	border:1px solid var(--mainPanelBorder);
	padding:0px;
	overflow: auto;
	background-color: var(--bodyBackColor);
	box-sizing: border-box;
}

/* dbgrid baru */
.dbg_container {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.dbg_main2 {
	display:block;
	position:relative;
	border:1px solid #aaaaaa;
	overflow:auto;
	width:inherit;
	height:100%;
	top:0px;
	left:0px ;
	flex:1;
	box-sizing: border-box; 
}
.dbg_caption2 {
	width:100%;
	text-align:center;
	padding:4px;
	FONT-FAMILY: Verdana,Helvetica; 
	FONT-SIZE: 12px;
	font-weight:bold ;
}
.dbg_cell_header2,
.dbg_cell_body2,
.dbg_cell_footer2 {
	FONT-FAMILY: Verdana,Helvetica; 
	FONT-SIZE: 12px;
	white-space: nowrap;
	overflow:hidden;
	cursor:default ;
	padding:4px ;
	border-left:0px;
	box-sizing: border-box;
}
.dbg_cell_header2 {	
	font-weight:bold;
	border:1px solid #d6d7d9;
	border-top:0px;
	background: linear-gradient(var(--dbgCellHead1), var(--dbgCellHead2));
	color: var(--dbgHeadFontcolor);
}
.dbg_cell_body2 {
	border:1px solid #d6d7d9;
	background:var(--bodyBackColor)
}
.dbg_cell_body_click2 {
	color:var(--dbgCellBodyClick);
	background:var(--dbgCellBodyClickBack) ;
}
.dbg_footer_main2 {
	bottom:0;
	position: relative ;
	box-sizing: border-box;
	border:1px solid #d6d7d9 ;
	border-top:0px ;
}
.dbg_footer2 {
	position: relative ;
	left:0px ;
	box-sizing: border-box;
}
.dbg_cell_footer2 {
	border:1px solid #d6d7d9;
	background: linear-gradient(var(--dbgCellHead1), var(--dbgCellHead2));
	display: inline-grid;
	color: var(--dbgHeadFontcolor);
}

.dbg_back_cellfreeze {
	position: fixed ;
	background: #d6d7d9 ;
	z-Index: 2 ;
}