:root {
	--bodyBackColor:#F4F4FF ;
	--mainPanelBorder: #999 ;

	--dbgCellBodyClick: #ffffff ;
	--dbgCellBodyClickBack: #e32020 ;
	--dbgCellHead1 : rgba(248,80,50,1) ;
	--dbgCellHead2 : rgba(241,111,92,1) ;

	/* Input */
	--inpBorderColor : #999 ; //#ff8080;
	--inputBack : #ffffff ;

	/* Input onFocus */
	--inpFocusBorder: #333 ;
	--inpFocusBack : #ffe6e6 ;

	/* Inpus Disable */
	--inpDisabledBack: #eeeeee ;
	--inpDisabledBorder: #bbbbbb ;

	/* Button Class */
	--ButtonBorder: #D83534 ;
	--ButtonColor1: #FFC8C2;
	--ButtonColor2: #FF5E5E;
	--ButtonHoverBorder: #D83534 ;
	--ButtonHoverColor1: #FFC8C2;
	--ButtonHoverColor2: #FF5E5E;
	--ButtonClickBorder: #D83534 ;
	--ButtonClickColor1: #FF5E5E;
	--ButtonClickColor2: #FFC8C2;
	--ButtonFontColor: #fff ;
	
	/* Tab Class Name */
	--tabMainBack : #eeeeee ;
	--tabNormal1 : #ffffff ;
	--tabNormal2 : #eeeeff ;
	--tabClick1 : #D83534 ;
	--tabClick2 : #ab2121 ;
	--tabClickFont : #ffffff ;
	--tabFont : #000000 ;
	--tabItemBorder: 1px solid #cccccc ;

	/* Variable Menu Pulldown */
	--hzMainBack : #FFC8C2 ;
	--hzOverBack : #ff6666; ;
	--hzOverFont : #FFFFFF ;
	--vrMainBack : #f6f6f6 ;
	--vrMainBorder : #bbbbbb ;
	--vrItemFirst1 : #facac9 ;
	--vrItemFirst2 : #fa8785 ;
	--vrItemOverBack : #fcb7b6 ;
	--vrItemOverBorder : 1px solid #ff6666 ;
	--vrItemSep : 1px solid #fa8785 ;

	/* Variable Form */
	--winBorderBorder : #bbbbbb ;
	--winBorderBack : #FFFFFF ;
	--winHeadFocus1 : rgba(216,53,52,1) ;
	--winHeadFocus2 : rgba(191,42,42,1) ;
	--winHeadBlur1 : rgba(226,226,226,1) ;
	--winHeadBlur2 : rgba(219,219,219,1) ;
	--winHead : #ffffff ;

	/* Form Icon Close */
	--winClose : #ffffff ;
	--winCloseHover : #ffffff ;
	--winCloseHover1 : #e0a28d ;
	--winCloseHover2 : #e04e1c ;

	/* Form Icon Min */
	--winMin : #ffffff ;
	--winMinHover : #ffffff ;
	--winMinHover1 : #eeeeee ;
	--winMinHover2 : #999999 ;

	/* Form Icon Panduan */
	--winPan : #ffffff ;
	--winPanHover : #ffffff ;
	--winPanHover1 : #8fc7ed ;
	--winPanHover2 : #2c98ce ;

	/* Alert dan Confirm */
	--alrMain : #eeeeee ;
	--alrMainBorder : #999999 ;
	--alrHead1 : rgba(248,80,50,1) ;
	--alrHead2 : rgba(241,111,92,1) ;
	--alrHead : #FFFFFF ;

	/*
	Status Bar
	*/
	--sBarBack1: #E4E4EE ;
	--sBarBack2: #F4F4FF ;
	--sBarBorder: #dddddd ;

	/* Slide Bar */
	--sldColor: #000;
	--sldBack1: rgba(248,80,50,1) ;
	--sldBack2: rgba(231,56,39,1);
	--sldBorder: #ffe6e6 ;
	
	--sldItemColor: #000 ;
	--sldItemBorder: #ff8080 ;
	--sldItemBack1: #fac4be ;
	--sldItemBack2: #fac4be ;
		
	--sldItemOverColor: #000 ;
	--sldItemOverBack1: #f9ecc9 ;
	--sldItemOverBack2: #f9d87e ;
	
	--sldItemBlurColor: #888 ;
	--sldItemBlurBack1: #f4f4f4 ;
	--sldItemBlurBack2: #f4f4f4 ;
	
	/* Toolbar */
	--tBarMain1: rgba(255,200,194,1) ;
	--tBarMain2: rgba(255,148,138,1) ;
	--tBarSep1: #999;
	--tBarSep2: #fff;
	--tBarOverBack : #f9cc81 ;
	--tBarOverBorder : #080f86 ;
}