:root {
	--bodyBackColor:#F4F4FF ;
	--mainPanelBorder: #999 ;

	--dbgCellBodyClick: #ffffff ;
	--dbgCellBodyClickBack: #FA6900 ;
	--dbgCellHead1 : rgba(255,175,75,1) ;
	--dbgCellHead2 : rgba(255,146,10,1) ;

	/* Input */
	--inpBorderColor :#7F9DB9;
	--inputBack : #ffffff ;

	/* Input onFocus */
	--inpFocusBorder: #000000 ;
	--inpFocusBack : #ffe0cc ;

	/* Inpus Disable */
	--inpDisabledBack: #eeeeee ;
	--inpDisabledBorder: #bbbbbb ;

	/* Button Class */
	--ButtonBorder: #ff7300 ;
	--ButtonColor1: #ffB300;
	--ButtonColor2: #ff5100;
	--ButtonHoverBorder: #ff7300 ;
	--ButtonHoverColor1: #ff7300;
	--ButtonHoverColor2: #ff5100;
	--ButtonClickBorder: #ff7300 ;
	--ButtonClickColor1: #ff5100;
	--ButtonClickColor2: #ffB300;
	--ButtonFontColor: #FFF ;
	
	/* Tab Class Name */
	--tabMainBack : #eeeeee ;
	--tabNormal1 : #ffffff ;
	--tabNormal2 : #cccccc ;
	--tabClick1 : rgba(255,151,71,1) ;
	--tabClick2 : rgba(255,151,71,1) ;
	--tabClickFont : #ffffff ;
	--tabFont : #000000 ;
	--tabItemBorder: 1px solid #cccccc ;

	/* Variable Menu Pulldown */
	--hzMainBack : rgba(214,116,4,1) ;
	--hzOverBack : #ff920a; ;
	--hzOverFont : #FFFFFF ;
	--vrMainBack : #f6f6f6 ;
	--vrMainBorder : #bbbbbb ;
	--vrItemFirst1 : #e49866 ;
	--vrItemFirst2 : #e46009 ;
	--vrItemOverBack : #ffddcc ;
	--vrItemOverBorder : 1px solid #fb9f9d ;
	--vrItemSep : 1px solid #ff884d ;

	/* Variable Form */
	--winBorderBorder : #bbbbbb ;
	--winBorderBack : #FFFFFF ;
	--winHeadFocus1 : rgba(252,145,58,1) ;
	--winHeadFocus2 : rgba(255,111,0,1) ;
	--winHeadBlur1 : rgba(226,226,226,1) ;
	--winHeadBlur2 : rgba(219,219,219,1) ;
	--winHead : #ffffff ;

	/* Form Icon Close */
	--winClose : #ffffff ;
	--winCloseHover : #ffffff ;
	--winCloseHover1 : #e0a28d ;
	--winCloseHover2 : #e04e1c ;

	/* Form Icon Min */
	--winMin : #ffffff ;
	--winMinHover : #ffffff ;
	--winMinHover1 : #eeeeee ;
	--winMinHover2 : #999999 ;

	/* Form Icon Panduan */
	--winPan : #ffffff ;
	--winPanHover : #ffffff ;
	--winPanHover1 : #8fc7ed ;
	--winPanHover2 : #2c98ce ;

	/* Alert dan Confirm */
	--alrMain : #eeeeee ;
	--alrMainBorder : #999999 ;
	--alrHead1 : rgba(255,175,75,1) ;
	--alrHead2 : rgba(255,146,10,1) ;
	--alrHead : #FFFFFF ;

	/*
	Status Bar
	*/
	--sBarBack1: #E4E4EE ;
	--sBarBack2: #F4F4FF ;
	--sBarBorder: #dddddd ;
	
	/* Slide Bar */
	--sldColor: #000;
	--sldBack1: rgba(252,234,187,1) ;
	--sldBack2: rgba(251,223,147,1);
	--sldBorder: #ffe6e6 ;
	
	--sldItemColor: #fff ;
	--sldItemBorder: #ff8080 ;
	--sldItemBack1: #ff4d4d ;
	--sldItemBack2: #ff4d4d ;
		
	--sldItemOverColor: #000 ;
	--sldItemOverBack1: #f9ecc9 ;
	--sldItemOverBack2: #f9d87e ;
	
	--sldItemBlurColor: #888 ;
	--sldItemBlurBack1: #f4f4f4 ;
	--sldItemBlurBack2: #f4f4f4 ;
	
	/* Toolbar */
	--tBarMain1: rgba(245,131,44,1) ;
	--tBarMain2: rgba(227,96,9,1) ;
	--tBarSep1: #999;
	--tBarSep2: #fff;
	--tBarOverBack : #f9cc81 ;
	--tBarOverBorder : #080f86 ;
}