:root {
	--bodyBackColor:#F4F4FF ;
	--mainPanelBorder: #ff5db1 ;

	--dbgCellBodyClick: #ffffff ;
	--dbgCellBodyClickBack: #ff0084 ;
	--dbgCellHead1 : rgba(252,236,252,1) ;
	--dbgCellHead2 : rgba(251,166,225,1) ;

	/* Input */
	--inpBorderColor :#ff5db1;
	--inputBack : #ffffff ;

	/* Input onFocus */
	--inpFocusBorder: #000000 ;
	--inpFocusBack : #ffffff ;

	/* Inpus Disable */
	--inpDisabledBack: #eeeeee ;
	--inpDisabledBorder: #bbbbbb ;

	/* Button Class */
	--ButtonBorder: #fa44a5 ;
	--ButtonColor1: rgba(252,236,252,1);
	--ButtonColor2: rgba(251,166,225,1);
	--ButtonHoverBorder: #fa44a5 ;
	--ButtonHoverColor1: rgba(252,236,252,1);
	--ButtonHoverColor2: rgba(251,166,225,1);
	--ButtonClickBorder: #fa44a5 ;
	--ButtonClickColor1: rgba(251,166,225,1);
	--ButtonClickColor2: rgba(252,236,252,1);
	--ButtonFontColor: #111111 ;
	
	/* Tab Class Name */
	--tabMainBack : #eeeeee ;
	--tabNormal1 : #ffffff ;
	--tabNormal2 : #eeeeff ;
	--tabClick1 : rgba(255,0,132,1) ;
	--tabClick2 : rgba(255,0,132,1) ;
	--tabClickFont : #ffffff ;
	--tabFont : #000000 ;
	--tabItemBorder: 1px solid #cccccc ;

	/* Variable Menu Pulldown */
	--hzMainBack : rgba(255,227,242,1) ;
	--hzOverBack : #fa4bab; ;
	--hzOverFont : #FFFFFF ;
	--vrMainBack : #f6f6f6 ;
	--vrMainBorder : #bbbbbb ;
	--vrItemFirst1 : #f6badb ;
	--vrItemFirst2 : #f695ca ;
	--vrItemOverBack : #fbd0e8 ;
	--vrItemOverBorder : 1px solid #f272b8 ;
	--vrItemSep : 1px solid #f695ca ;

	/* Variable Form */
	--winBorderBorder : #bbbbbb ;
	--winBorderBack : #FFFFFF ;
	--winHeadFocus1 : rgba(255,93,177,1) ;
	--winHeadFocus2 :rgba(255,76,171,1) ;
	--winHeadBlur1 : rgba(226,226,226,1) ;
	--winHeadBlur2 : rgba(219,219,219,1) ;
	--winHead : #ffffff ;

	/* Form Icon Close */
	--winClose : #ffffff ;
	--winCloseHover : #ffffff ;
	--winCloseHover1 : #e0a28d ;
	--winCloseHover2 : #e04e1c ;

	/* Form Icon Min */
	--winMin : #ffffff ;
	--winMinHover : #ffffff ;
	--winMinHover1 : #eeeeee ;
	--winMinHover2 : #999999 ;

	/* Form Icon Panduan */
	--winPan : #ffffff ;
	--winPanHover : #ffffff ;
	--winPanHover1 : #8fc7ed ;
	--winPanHover2 : #2c98ce ;

	/* Alert dan Confirm */
	--alrMain : #eeeeee ;
	--alrMainBorder : #999999 ;
	--alrHead1 : rgba(255,93,177,1) ;
	--alrHead2 : rgba(255,76,171,1) ;
	--alrHead : #ffffff ;

	/*
	Status Bar
	*/
	--sBarBack1: #E4E4EE ;
	--sBarBack2: #F4F4FF ;
	--sBarBorder: #dddddd ;
	
	/* Slide Bar */
	--sldColor: #000;
	--sldBack1: rgba(253,137,215,1) ;
	--sldBack2: rgba(255,124,216,1);
	--sldBorder: #a6cdfa ;
	
	--sldItemColor: #000 ;
	--sldItemBorder: #fcecfc ;
	--sldItemBack1: #fcecfc ;
	--sldItemBack2: #fcecfc ;
		
	--sldItemOverColor: #000 ;
	--sldItemOverBack1: #f9ecc9 ;
	--sldItemOverBack2: #f9d87e ;
	
	--sldItemBlurColor: #888 ;
	--sldItemBlurBack1: #f4f4f4 ;
	--sldItemBlurBack2: #f4f4f4 ;
	
	/* Toolbar */
	--tBarMain1: rgba(255,227,242,1) ;
	--tBarMain2: rgba(255,181,220,1) ;
	--tBarSep1: #999;
	--tBarSep2: #fff;
	--tBarOverBack : #f9cc81 ;
	--tBarOverBorder : #080f86 ;
}